@charset "utf-8";
/* CSS Document */

body{
	background-image: url("../css/images/backgroun-destiny.jfif");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}